@model List<StudentSquads.ViewModels.ApplicationsListViewModel>
@{
	ViewBag.Title = "AddFeeApplications";
}

<h2>Заявки на внесение информации о взносах</h2>

@using (Html.BeginForm("ApproveFee", "Members"))
{
	<input type="submit" name="button3" value="Принять" class="btn btn-warning"/>
	<input type="submit" name="button4" value="Отклонить" class="btn btn-default" formaction="@Url.Action("RejectFee", "Members")" />
	<table id="addfeeapplications" class="table table-bordered table-hover">
		<thead>
			<tr>
				<th></th>
				<th>Отряд</th>
				<th>Штаб</th>
				<th>ФИО</th>
				<th>Внесено</th>
				<th>Сумма</th>
			</tr>
		</thead>
		<tbody>
			@for (int i = 0; i < Model.Count; i++)
			{
				<tr>
					@Html.HiddenFor(m => m[i].Id)
					<td>@Html.CheckBoxFor(m => m[i].Choosen)</td>
					<td>@Model[i].FIO</td>
					<td>@Model[i].Squad</td>
					<td>@Model[i].Uni</td>
					<td>@Model[i].FeePayment</td>
					<td>@Model[i].SumOfPayment</td>
				</tr>
			}
		</tbody>
	</table>
	@Html.AntiForgeryToken()
}
@section scripts
{
	<script>
		$(document).ready(function () {
			$("#addfeeapplications").DataTable();
		});
	</script>
}



