@model List<StudentSquads.ViewModels.ApplicationsListViewModel>
@{
	ViewBag.Title = "ChangeSquadManagerApplications";
}

<h2>Заявки на смену командного состава</h2>

@using (Html.BeginForm("ApproveChange", "Members"))
{
		<input type="submit" name="button3" value="Принять" class="btn btn-warning" />
		<input type="submit" name="button4" value="Отклонить" class="btn btn-default" formaction="@Url.Action("RejectChange", "Members")" />
	
	<table id="changesquadmanagerapplications" class="table table-bordered table-hover">
		<thead>
			<tr>
				<th></th>
				<th>Отряд</th>
				<th>Штаб</th>
				<th>Должность</th>
				<th>Занимающий</th>
				<th>Претендент</th>
				<th>Протокол</th>
			</tr>
		</thead>
		<tbody>
			@for (int i = 0; i < Model.Count; i++)
			{
				<tr>
					@Html.HiddenFor(m => m[i].Id)
					<td>@Html.CheckBoxFor(m => m[i].Choosen)</td>
					<td>@Model[i].Squad</td>
					<td>@Model[i].Uni</td>
					<td>@Model[i].Position</td>
					<td>@Model[i].OldFIO</td>
					<td>@Model[i].FIO</td>
					<td>Протокол</td>
				</tr>
			}
		</tbody>
	</table>
	@Html.AntiForgeryToken()
}
@section scripts
{
	<script>
		$(document).ready(function () {
			$("#changesquadmanagerapplications").DataTable();
		});
	</script>
}


