@model List<StudentSquads.ViewModels.ApplicationsListViewModel>
@{
	ViewBag.Title = "EnterApplications";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Заявки на вступление</h2>
@using (Html.BeginForm("ApproveEnterApllications", "Members"))
{
	if (User.IsInRole("RegionalManager") || User.IsInRole("SquadManager"))
	{
		<button type="submit" class="btn btn-warning" id="approve">Одобрить</button>
		<input type="submit" name="button2" value="Отклонить" class="btn btn-default" formaction="@Url.Action("RejectApplications", "Members")" />
	}
	<table id="enterapplications" class="table table-bordered table-hover">
		<thead>
			<tr>
				<th></th>
				<th>ФИО</th>
				<th>Пол</th>
				<th>Дата рождения</th>
				<th>Телефон</th>
				<th>Место обучения</th>
				<th>Отряд</th>
				<th>Статус</th>
				<th>Взнос</th>
			</tr>
		</thead>
		<tbody>
			@for (int i = 0; i < Model.Count; i++)
			{@Html.HiddenFor(m => m[i].Member.Id)
			@Html.HiddenFor(m => m[i].Member.PersonId)
			<tr>
				<td>@Html.CheckBoxFor(m => m[i].Choosen)</td>
				<td>@Model[i].Member.Person.FIO</td>
				@{ if (@Model[i].Member.Person.Sex == true)
					{
						<td>Муж</td>
					}
					else
					{
						<td>Жен</td>
					}
				}
				<td>@Model[i].Member.Person.DateofBirth.ToString("dd.MM.yyyy")</td>
				<td>@Model[i].Member.Person.PhoneNumber</td>
				<td>@Model[i].Member.Person.PlaceofStudy</td>
				<td>@Model[i].Member.Squad.Name</td>
				<td>@Model[i].Status</td>
				@{ if (Model[i].FeePayments != null)
					{
						<td>Сдан</td>
					}
					else
					{
						<td>Не Сдан</td>
					}
				}
			</tr>
		}
		</tbody>
	</table>
}
@section scripts
{
	<script>
		$(document).ready(function () {
			$("#enterapplications").DataTable();
		});
    </script>
}


