@model List<StudentSquads.ViewModels.ApplicationsListViewModel>
@{
	ViewBag.Title = "EnterApplications";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Заявки на вступление</h2>
@using (Html.BeginForm("ApproveEnterApllications", "Members"))
{
	if (User.IsInRole("RegionalManager") || User.IsInRole("SquadManager"))
	{
		<button type="submit" class="btn btn-warning" id="approve">Принять</button>
		if (User.IsInRole("RegionalManager"))
		{
			<input type="submit" name="button3" value="Составить протокол о принятии" class="btn btn-warning" formaction="@Url.Action("CreateEnterProtocol", "Members")" />
		}
		<input type="submit" name="button2" value="Отклонить" class="btn btn-default" formaction="@Url.Action("RejectEnterApplications", "Members")" />
	}
	if (User.IsInRole("SquadManager"))
	{
<input type="submit" name="button4" value="Внести информацию о взносе" class="btn btn-default" formaction="@Url.Action("AddFeeInfo", "Members")" />
	}
	<table id="enterapplications" class="table table-bordered table-hover">
		<thead>
			<tr>
				<th></th>
				<th>ФИО</th>
				<th>Дата рождения</th>
				<th>Телефон</th>
				<th>Место обучения</th>
				<th>Отряд</th>
				<th>Статус</th>
				<th>Взнос</th>
				<th>Заявление</th>
			</tr>
		</thead>
		<tbody>
			@for (int i = 0; i < Model.Count; i++)
			{
				<tr>
					@Html.HiddenFor(m => m[i].Id)
					@Html.HiddenFor(m => m[i].PersonId)
					<td>@Html.CheckBoxFor(m => m[i].Choosen)</td>
					<td>@Model[i].FIO</td>
					<td>@Model[i].DateOfBirth</td>
					<td>@Model[i].PhoneNumber</td>
					<td>@Model[i].PlaceOfStudy</td>
					<td>@Model[i].Squad</td>
					<td>@Model[i].Status</td>
					<td>@Model[i].FeePayment</td>
					<td><a href="@("/files/" + Model[i].DocumentPath)" target="_blank">Скачать</a></td>
				</tr>
			}
		</tbody>
	</table>
	@Html.AntiForgeryToken()
}
@section scripts
{
	<script>
		$(document).ready(function () {
			$("#enterapplications").DataTable();
		});
	</script>
}


