@model List<StudentSquads.ViewModels.RaitingEventViewModel>
@{
	ViewBag.Title = "AllRaitingEvents";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Рейтинговые мероприятия</h2>
@using (Html.BeginForm("RaitingEventForm", "Raitings"))
{
	<input type="submit" name="button2" value="Создать" class="btn btn-warning"/>
	<table id="events" class="table table-bordered table-hover">
		<thead>
			<tr>
				<th></th>
				<th>Наименование</th>
				<th>Кем создано</th>
				<th>Уровень</th>
				<th>Начало</th>
				<th>Окончание</th>
				<th>Положение</th>
				<th>Статус</th>
			</tr>
		</thead>
		<tbody>
			@for (int i = 0; i < Model.Count; i++)
			{
			<tr>
				@Html.HiddenFor(m => m[i].Id)
				@if (@Model[i].Approved != "Утверждено" || User.IsInRole("RegionalManager"))
				{
				<td>
					<a href="/raitings/editevent/@Model[i].Id">
						<img src='https://icons.iconarchive.com/icons/icons8/windows-8/512/Editing-Edit-icon.png' width='25' height='25'>
					</a>
				</td>
				}
				else { <td></td>}
				<td>@Model[i].Name</td>
				<td>@Model[i].CreatedBy</td>
				<td>@Model[i].EventLevel</td>
				<td>@Model[i].DateofBeginString</td>
				<td>@Model[i].DateofEndString</td>
				<td>
				<a href="@("/files/" + Model[i].DocumentPath)" target="_blank">Скачать</a>
				</td>
				<td>@Model[i].Approved</td>
			</tr>
			}
		</tbody>
	</table>
	@Html.AntiForgeryToken()
}
@section scripts
{
	<script>
		$(document).ready(function () {
			$("#events").DataTable();
		});
	</script>
}


