@model StudentSquads.ViewModels.RaitingSectionViewModel
@{
	ViewBag.Title = "RaitingSectionForm";
}

<h2>Рейтинговый показатель</h2>
<button  class="btn btn-warning js-save"  type="submit">Сохранить</button>
@if (Model.Id != Guid.Empty) {<button class="btn btn-default js-delete" data-id="@Model.Id" type="submit">Удалить</button> }
@Html.HiddenFor(m => m.Id, new { @id = "Id" })
<div class="form-group">
	<div class="form-group">
		@Html.LabelFor(m => m.Name)
		@Html.TextBoxFor(m => m.Name, new { @id = "Name", @class = "form-control" })
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Coef) (В формате 0,5)
		@Html.TextBoxFor(m => m.Coef, new { @id = "Coef", @class = "form-control" })
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.MembershipTypeId)
		@Html.DropDownListFor(m => m.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "", new { @id = "MembershipId", @class = "form-control" })
	</div>
</div>
<div class="form-group">
	<label>Уровень</label>
	<div class="tt-container">
		<input id="level" type="text" class="form-control" name="" value="" />
	</div>
</div>
<div class="row">
	<div class="col-md-4 col-sm-4">
		<ul id="levels" class="list-group"></ul>
	</div>
</div>
@if (Model.Id != Guid.Empty)
{
	<h4>Уровни</h4>
	<table id="levels" class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>Уровень</th>
				<th>Удалить</th>
			</tr>
		</thead>
		<tbody>
			@for (int i = 0; i < Model.Levels.Count; i++)
			{
				<tr>
					<td>@Model.Levels[i].EventLevel.Name</td>
					<td><button class='btn-link js-leveldown' data-id = @Model.Levels[i].Id>Удалить</button></td>
				</tr>
			}
		</tbody>
	</table>
}
@section scripts
{
	@Scripts.Render("~/bundles/jqueryval")
	<script>
		$(document).ready(function () {

			$(".js-leveldown").on("click", function () {
				var button = $(this);
				bootbox.confirm("Вы уверены, что хотите удалить уровень?", function (result) {
					if (result) {
						$.ajax({
							url: "/api/raitingsections/" + button.attr("data-id"),
							method: "Put",
							success: function () {
								//Я бы поправила с API контроллером
								//$("#levels").row(button.parents("tr")).remove().draw();
								toastr.success("Успешно удалено");
							}

						});
					}
				});
			});
			var vm = {
				LevelIds: [],
				MembershipTypes: []
			};
			var eventlevels = new Bloodhound({
				datumTokenizer: Bloodhound.tokenizers.obj.whitespace('Name'),
				queryTokenizer: Bloodhound.tokenizers.whitespace,
				remote: {
					url: '/api/EventLevels?query=%QUERY',
					wildcard: '%QUERY'
				}
			});

			$('#level').typeahead({
				minLength: 0,
				highlight: true
			}, {
				name: 'eventlevels',
				display: 'Name',
				source: eventlevels
			}).on("typeahead:select", function (e, level) {
				//Добавляем запись в список
				$("#levels").append("<li class='list-group-item'>" + level.Name + "</li>");
				//Очищаем значение списка
				$("#level").typeahead("val", "");
				//Добавляем Id в список Members
				vm.LevelIds.push(level.Id);
			});
			$(".js-save").on("click", function () {
				var button = $(this);
				vm.MembershipIdString  = document.getElementById('MembershipId').value;
				vm.Coef = document.getElementById('Coef').value;
				vm.Name = document.getElementById('Name').value;
				vm.Id = document.getElementById('Id').value;
				$.ajax({
					url: "/api/raitingsections",
					method: "post",
					data: vm
				})
					.done(function () {
						bootbox.alert("Показатель рейтинга сохранен", function () {
							window.location = "/raitings/allraitingsections"
						});
					
					})
					.fail(function () {
						toastr.error("Произошла ошибка сохранения");
					});
			});
			$(".js-delete").on("click", function () {
				var button = $(this);
					bootbox.confirm("Вы уверены, что хотите удалить показатель?", function (result) {
						if (result) {
							$.ajax({
								url: "/api/raitingsections/" + button.attr("data-id"),
								method: "DELETE",
								success: function () {
									bootbox.alert("Показатель удален", function () {
										window.location = "/raitings/allraitingsections"
									}
									);
								}

							});
						}
					});

			});

			
		});
	</script>
}
