@model StudentSquads.ViewModels.DesignationViewModel
@{
	ViewBag.Title = "PositionForm";
}

<h2>Назначение на должность</h2>
<form id="newPosition">
	<button class="btn btn-warning" type="submit">Сохранить</button>
	<div class="form-group">
		<label>Член организации</label>
		<div class="tt-container">
			<input id="person" data-rule-validPerson="true" required type="text" class="form-control" name="" value="" />
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Position)
		@Html.TextBoxFor(m => m.Position, new { @id = "position", @class = "form-control" })
		@Html.ValidationMessageFor(m => m.Position)
	</div>
	<div class="checkbox">
		<label>
			@Html.CheckBoxFor(m => m.HasRole, new { @id = "hasrole" }) Предоставить доступ к управленческим функциям?
		</label>
	</div>
</form>
@section scripts
{
	@Scripts.Render("~/bundles/jqueryval")
	<script>
		$(document).ready(function () {

			var vm = {};

			var people = new Bloodhound({
				datumTokenizer: Bloodhound.tokenizers.obj.whitespace('FIO'),
				queryTokenizer: Bloodhound.tokenizers.whitespace,
				remote: {
					url: '/api/people?query=%QUERY',
					wildcard: '%QUERY'
				}
			});

			$('#person').typeahead({
				minLength: 0,
				highlight: true
			}, {
				name: 'people',
				display: 'FIO',
				source: people
			}).on("typeahead:select", function (e, person) {
				vm.PersonId = person.Id;
			});
			$.validator.addMethod("validPerson", function () {
				return vm.PersonId && vm.PersonId != null;
			}, "Пожалуйста, выберите члена организации");
			$("#newPosition").submit(function (e) {
				e.preventDefault();
				vm.Position = document.getElementById('position').value;
				var check = $('#hasrole');
				if (check.is(':checked')) {
					vm.HasRole = true;
				}
				else {
					vm.HasRole = false;
				}
				if ($("#newPosition").valid()) {
					$.ajax({
						url: "/api/Positions",
						method: "post",
						data: vm
					})
						.done(function () {
							$("#position").val("");
							$("#person").typeahead("val", "");
							$("#hasrole").prop('checked', false);
							toastr.success("Успешно сохранено");
						})
						.fail(function () {
							toastr.error("Произошла ошибка сохранения");
						});
				}
			})

		});
	</script>
}



