@model List<StudentSquads.ViewModels.NewPersonViewModel>
@{
	ViewBag.Title = "AllPeople";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Члены организации</h2>
@using (Html.BeginForm("AddFeeInfo", "People"))
{
	if (User.IsInRole("SquadManager"))
	{
		<button type="submit" class="btn btn-warning" id="approve">Внести информацию о взносах</button>
	}
	<table id="people" class="table table-bordered table-hover">
		<thead>
			<tr>
				
				@if (User.IsInRole("SquadManager")){<th></th>}
				<th>ФИО</th>
				<th>Дата рождения</th>
				<th>Телефон</th>
				<th>Членский билет</th>
				<th>Отряд</th>
				<th>Штаб</th>
				<th>Статус</th>
				<th>Взнос</th>
			</tr>
		</thead>
		<tbody>
			@for (int i = 0; i < Model.Count; i++)
			{
			<tr>
				@Html.HiddenFor(m => m[i].Id)
				@if (User.IsInRole("SquadManager"))
				{
					<td>@Html.CheckBoxFor(m => m[i].Choosen)</td>
					}
				<td><a href='/people/edit/@Model[i].Id'>@Model[i].FIO</a></td>
				<td>@Model[i].DateofBirth</td>
				<td>@Model[i].PhoneNumber</td>
				<td>@Model[i].MembershipNumber</td>
				<td>@Model[i].SquadName</td>
				<td>@Model[i].Uni</td>
				<td>@Model[i].StatusName</td>
				<td>@Model[i].LastFee</td>
			</tr>
			}
		</tbody>
	</table>
	@Html.AntiForgeryToken()
}
@section scripts
{
	<script>
		$(document).ready(function () {
			$("#people").DataTable();
		});
	</script>
}
