@model dynamic
@{
	ViewBag.Title = "AllPeople";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Члены организации</h2>
<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<td></td>
			<th>ФИО</th>
			<th>Дата рождения</th>
			<th>Телефон</th>
			<th>Номер членского билета</th>
			<th>Отряд</th>
			<th>Статус</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var member in Model.JoinData)
		{
			<tr>
				<td><input type="checkbox"></td>
				<td>@member.FIO</td>
				<td>@member.DateofBirth.ToString("dd.MM.yyyy")</td>
				<td>@member.PhoneNumber</td>
				<td>@member.MembershipNumber</td>
				<td>@member.SquadName</td>
				<td>@member.StatusName</td>
			</tr>
		}
	</tbody>
	</table>
