@model StudentSquads.ViewModels.NewPersonViewModel
@{
	ViewBag.Title = "PersonEditForm";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Личные данные</h2>
@if (User.IsInRole("RegionalManager") && Model.Member?.DateOfExit == null)
{
	<button class="btn btn-warning js-exclude" data-id="@Model.Person.Id">Исключить</button>
}
@using (Html.BeginForm("ChangeStatus", "People"))
{
	if (User.IsInRole("SquadManager") && Model.Person.DateOfExit == null)
	{
		<div class="container body-content">
			<div class="form-group" disabled>
				@Html.LabelFor(m => m.Member.Status.Id)
				@Html.DropDownListFor(m => m.Member.Status.Id, new SelectList(Model.Status, "Id", "Name"), new { @class = "form-control" })
			</div>
			<button type="submit" class="btn btn-warning">Изменить</button>
			</div>
	}
			@Html.HiddenFor(m => m.Person.Id)
			@Html.HiddenFor(m => m.Member.Id)
			<div>
				<div class="col-xs-4" float="left">
					<div class="form-group">
						@Html.LabelFor(m => m.Person.LastName)
						@Html.TextBoxFor(m => m.Person.LastName, new { @class = "form-control", @readonly = "true" })
						@Html.ValidationMessageFor(m => m.Person.LastName)
					</div>
					<div class="form-group">
						@Html.LabelFor(m => m.Person.FirstName)
						@Html.TextBoxFor(m => m.Person.FirstName, new { @class = "form-control", @readonly = "true" })
					</div>
					<div class="form-group">
						@Html.LabelFor(m => m.Person.PatronymicName)
						@Html.TextBoxFor(m => m.Person.PatronymicName, new { @class = "form-control", @readonly = "true" })
					</div>
					<div class="form-group">
						@Html.LabelFor(m => m.Person.DateofBirth)
						@Html.TextBoxFor(m => m.Person.DateofBirth, "{0:dd.MM.yyyy}", new { @class = "form-control", @readonly = "true" })
					</div>
					<div class="form-group">
						@Html.LabelFor(m => m.Person.PlaceofStudy)
						@Html.TextBoxFor(m => m.Person.PlaceofStudy, new { @class = "form-control", @readonly = "true" })
					</div>
					<div class="form-group">
						@Html.LabelFor(m => m.Person.FormofStudy)
						@Html.TextBoxFor(m => m.Person.FormofStudy, new { @class = "form-control", @readonly = "true" })
					</div>
					<div class="form-group">
						@Html.LabelFor(m => m.Person.PhoneNumber)
						@Html.TextBoxFor(m => m.Person.PhoneNumber, new { @class = "form-control", @readonly = "true" })
					</div>
					@*Тут лучше поменять на что-то более стоящее*@
					<div class="checkbox">
						<label>
							@Html.CheckBoxFor(m => m.Person.Sex, new { @readonly = "true", @disabled = "disabled" }) Пол Ж(без отметки) М(с отметкой)
						</label>
					</div>

				</div>
				<div class="col-xs-4" float="left">
					<div class="form-group">
						@Html.LabelFor(m => m.Person.PassportSerie)
						@Html.TextBoxFor(m => m.Person.PassportSerie, new { @class = "form-control", @readonly = "true" })
					</div>
					<div class="form-group">
						@Html.LabelFor(m => m.Person.PassportNumber)
						@Html.TextBoxFor(m => m.Person.PassportNumber, new { @class = "form-control", @readonly = "true" })
					</div>
					<div class="form-group">
						@Html.LabelFor(m => m.Person.PassportGiven)
						@Html.TextBoxFor(m => m.Person.PassportGiven, new { @class = "form-control", @readonly = "true" })
					</div>
					<div class="form-group">
						@Html.LabelFor(m => m.Person.DateofIssue)
						@Html.TextBoxFor(m => m.Person.DateofIssue, "{0:dd.MM.yyyy}", new { @class = "form-control" })
					</div>
					<div class="form-group">
						@Html.LabelFor(m => m.Person.DepartmentCode)
						@Html.TextBoxFor(m => m.Person.DepartmentCode, new { @class = "form-control", @readonly = "true" })
					</div>
					<div class="form-group">
						@Html.LabelFor(m => m.Person.CityofBirth)
						@Html.TextBoxFor(m => m.Person.CityofBirth, new { @class = "form-control", @readonly = "true" })
					</div>
					<div class="form-group">
						@Html.LabelFor(m => m.Person.RegistrationPlace)
						@Html.TextBoxFor(m => m.Person.RegistrationPlace, new { @class = "form-control", @readonly = "true" })
					</div>
				</div>
				<div class="col-xs-4" float="left">
					<div class="form-group">
						@Html.LabelFor(m => m.Person.INN)
						@Html.TextBoxFor(m => m.Person.INN, new { @class = "form-control", @readonly = "true" })
					</div>
					<div class="form-group">
						@Html.LabelFor(m => m.Person.Snils)
						@Html.TextBoxFor(m => m.Person.Snils, new { @class = "form-control", @readonly = "true" })
					</div>
					<div class="form-group">
						@Html.LabelFor(m => m.Person.Email)
						@Html.TextBoxFor(m => m.Person.Email, new { @class = "form-control", @readonly = "true" })
					</div>
					@if (User.IsInRole("RegionalManager"))
					{
						<div class="form-group">
							@Html.LabelFor(m => m.Person.DateOfEnter)
							@Html.TextBoxFor(m => m.Person.DateOfEnter, "{0:dd.MM.yyyy}", new { @class = "form-control", @readonly = "true" })
						</div>
						<div class="form-group">
							@Html.LabelFor(m => m.Person.DateOfExit)
							@Html.TextBoxFor(m => m.Person.DateOfExit, "{0:dd.MM.yyyy}", new { @class = "form-control", @readonly = "true" })
						</div>
					}
					@if (User.IsInRole("SquadManager"))
					{
						<div class="form-group">
							@Html.LabelFor(m => m.Member.DateOfEnter)
							@Html.TextBoxFor(m => m.Member.DateOfEnter, "{0:dd.MM.yyyy}", new { @class = "form-control", @readonly = "true" })
						</div>
						<div class="form-group">
							@Html.LabelFor(m => m.Member.DateOfExit)
							@Html.TextBoxFor(m => m.Member.DateOfExit, "{0:dd.MM.yyyy}", new { @class = "form-control", @readonly = "true" })
						</div>
					}

				</div>

			</div>

			}
			@section scripts
{
				@Scripts.Render("~/bundles/jqueryval")
				<script>
					$(document).ready(function () {
						$(".js-exclude").on("click", function () {
							var button = $(this);
							bootbox.prompt("Вы уверены, что хотите исключить члена организации?\nУкажите причину:", function (result) {
								if (result) {
									$.ajax({
										url: "/api/people/" + button.attr("data-id") + "/" + result,
										method: "DELETE",
										success: function () {
											window.location = "/people/allpeople"
										}

									});
								}
							});
						});
					});
				</script>
			}



