@model StudentSquads.ViewModels.PersonMainFormViewModel
@{
	ViewBag.Title = "PersonMainForm";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Личный кабинет</h2>

@*<a href="https://docs.google.com/document/d/1tQmeaU5bUpu4j-aAAdIfpOg0Pd_aqtU5e65XFJwriQY/edit" target="_blank" title="Загрузить заявление на вступление">Загрузить заявление на вступление1</a>
<p><a href=@Model.Person.EnterDocumentPath target="_blank" download="true">Загрузить заявление на вступление</a></p>
<p><a href=@Model.file target="_blank" download="true">Загрузить заявление на вступление</a></p>*@
@*Проверяем, есть ли у пользователя личность*@
@using (Html.BeginForm("ApplyForEnter", "Members"))
{
	if (Model.Person.EnterDocumentPath != null)
	{<p><a href=@Model.file target="_blank" download="true">Загрузить заявление на вступление</a></p>}
	if (Model.Person == null)
	{<h4>Для использования функций приложения заполните личные данные в разделе "Мои данные".</h4>}
	else
	{ @Html.HiddenFor(m => m.Person.Id)
<div class="row">
	@*Проверяем, является ли пользователь членом организации.*@
	<div class="row">
		<div class="col-xs-3" disabled>
			@Html.LabelFor(m => m.UniversityHeadquarterId)
			@Html.DropDownListFor(m => m.UniversityHeadquarterId, new SelectList(Model.UniversityHeadquarters, "Id", "Name"), "", new { @class = "form-control" })
		</div>
		<div class="col-xs-3" disabled>
			@Html.LabelFor(m => m.SquadId)
			@Html.DropDownListFor(m => m.SquadId, new SelectList(Model.Squads, "Id", "Name"), "", new { @class = "form-control squad" })
		</div>
	</div>
	@{ if (Model.AllPersonSquads.Count() == 0)
		{
			<button type="submit" class="btn btn-warning js-apply">Подать заявку на вступление</button>
		}
		else if (Model.Person.MembershipNumber != null)
		{
			<input type="submit" name="button2" value="Подать заявку на переход" class="btn btn-warning" formaction="@Url.Action("ApplyForTransition", "Members")" />
			@*<input type="submit" name="button2" value="Выйти из организации" class="btn btn-default" formaction="@Url.Action("ApplyForTransition", "Members")" />*@
		}
	}

</div>
	<h3>Ваш отряд</h3>
	if (Model.AllPersonSquads.Count() == 0)
	{<h5>Данных о членстве в отрядах не найдено.</h5>}
	else
	{
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>Отряд</th>
					<th>Статус</th>
					<th>Дата вступления</th>
					<th>Дата выхода</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var member in Model.AllPersonSquads)
				{
					<tr>
						<td>@member.Squad.Name</td>
						@if (member.Status != null)
						{
							<td>@member.Status.Name</td>
						}
						else
						{
							<td>Не подтвежден</td>
						}
						<td>@member.DateOfEnter</td>
						<td>@member.DateOfExit</td>
					</tr>
				}
			</tbody>
		</table>
	}

	<h3>Ваши должности</h3>
	if (Model.AllPersonPositions.Count() == 0)
	{ <h5>Данных о наличии должностей не найдено.</h5>}
	else
	{<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>Место</th>
					<th>Должность</th>
					<th>Дата назначения</th>
					<th>Дата снятия</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var leader in Model.AllPersonPositions)
				{
					<tr>
						<td>Место</td>
						<td>@leader.MainPosition.Name</td>
						<td>@leader.DateofBegin</td>
						<td>@leader.DateofEnd</td>
					</tr>
				}
			</tbody>
		</table>

	}
}
@Html.AntiForgeryToken()
}
@*Если ты придумаешь, как взять выбранный dropdown, то можешь использовать ajax*@
@*@section scripts
	{
		@Scripts.Render("~/bundles/jqueryval")
		<script>
			$(document).ready(function () {
				$("squad").on("")
				$(".js-apply").on("click", function () {
					var button = $(this);
							$.ajax({
								url: "/api/members/" + button.attr("data-id") + "/" + $("squad"),
								method: "POST",
								success: function () {
									bootbox.confirm("Заявка на вступление в отряд подана")
								}
							});

				});
			});
		</script>
	}*@