@model  StudentSquads.ViewModels.NewPersonViewModel
@{
	ViewBag.Title = "PersonMainForm";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Личный кабинет</h2>
<div class="row">
	<button class="btn btn-warning js-exclude">Подать заявку на вступление</button>
	<button class="btn btn-warning js-exclude">Подать заявку на переход</button>
	<button class="btn btn-default js-exclude">Выйти из организации</button>
</div>
<h3>Ваш отряд</h3>
<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Отряд</th>
			<th>Статус</th>
			<th>Дата вступления</th>
			<th>Дата выхода</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var member in Model.AllPersonSquads)
		{
			<tr>
				<td>@member.Squad.Name</td>
				<td>@member.Status.Name</td>
				<td>@member.DateOfEnter</td>
				<td>@member.DateOfExit</td>
			</tr>
		}
	</tbody>
</table>
<h3>Ваши должности</h3>
<table  class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Место</th>
			<th>Должность</th>
			<th>Дата назначения</th>
			<th>Дата снятия</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var leader in Model.AllPersonPositions)
		{
			<tr>
				<td>Место</td>
				<td>@leader.MainPosition.Name</td>
				<td>@leader.DateofBegin</td>
				<td>@leader.DateofEnd</td>
			</tr>
		}
	</tbody>
</table>

@*@foreach (var member in Model.JoinData)
	{
		<tr>
			<td><input id="@member.Id" type="checkbox"></td>
			<td>@member.FIO</td>
			<td>@member.DateofBirth.ToString("dd.MM.yyyy")</td>
			<td>@member.PhoneNumber</td>
			<td>@member.MembershipNumber</td>
			<td>@member.SquadName</td>
			<td>@member.StatusName</td>
		</tr>
	}*@